<navbar></navbar>

<div class="container-fluid margin-to-navbar">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <h3>Welcome to</h3>
    
                <div class="line-separator"></div>
                <h1 class="pistacho-font">PistachoSoft</h1>
                <h4 class="text-muted">Turning Jack into code.</h4>
                <h6 class="text-muted">Now with a 105% more AngularJS</h6>
                <div class="line-separator"></div>
                <br>
                <br>
    
                <a class="btn btn-primary btn-flat" href="#/projects">Check our projects</a>
            </div>
        </div>
    </div>

    <!--<button class="btn btn-primary btn-raised">Test</button>-->
</div>